<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Collect.io</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700">
    <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/style.css') }}">
    <style type="text/css">
        body {
            margin: 0;
            background: #1d1f21;
        }
        .collect-header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background: #ffffff;
        }
        .collect-header--wrapper {
            max-width: 1460px;
            margin: 0 auto;
            padding: 0 60px;
        }
        #logo-collect {
            height: 60px;
            width: 100%;
            padding: 15px 0;
        }
        #swagger-ui.api-platform .information-container.wrapper {
            margin: 0;
            height: 60px;
            background: #ffffff;
            border: none;
        }
        #swagger-ui.api-platform .information-container.wrapper .info {
            text-indent: -9999px;
            margin-top: -4px;
        }
        #swagger-ui.api-platform .information-container.wrapper .info small {
            position: relative;
            text-indent: calc(9999px - 62px);
            background: none;
            z-index: 1;
        }
        #swagger-ui.api-platform .information-container.wrapper .info small pre {
            color: #1d1f21;
        }
        #swagger-ui.api-platform .information-container.wrapper .description {
            display: none;
        }
        #swagger-ui.api-platform .swagger-ui .scheme-container {
            background: none;
            margin-bottom: 0;
        }

        #swagger-ui.api-platform .swagger-ui .opblock-tag {
            color: #ffffff;
            border-bottom-color: rgba(255, 255, 255, 0.5);
        }

        #swagger-ui.api-platform .swagger-ui .opblock {
            border-radius: 4px;
            overflow: hidden;
        }
        #swagger-ui.api-platform .swagger-ui .opblock .opblock-summary-description {
            text-align: right;
        }
        #swagger-ui.api-platform .swagger-ui .opblock .opblock-summary-description:last-child {
            padding-right: 15px;
        }

        #swagger-ui.api-platform .swagger-ui section.models {
            background: #ffffff;
            border-radius: 4px;
        }
    </style>

    {# json_encode(65) is for JSON_UNESCAPED_SLASHES|JSON_HEX_TAG to avoid JS XSS #}
    <script id="swagger-data" type="application/json">{{ swagger_data|json_encode(65)|raw }}</script>
</head>
<body>

<div class="collect-header">
    <div class="collect-header--wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="27" id="logo-collect">
            <g fill="none" fill-rule="evenodd">
                <path fill="#1d1f21" d="M35.3925 16.139c.08-.0608.1398-.081.1997-.1014.06-.0203.12-.0203.1398-.0203.08 0 .1598.0203.2397.061.08.0405.1398.1217.2197.2232l.839 1.2993c.02.0406.0398.0812.0798.142.02.061.04.1016.04.122 0 .1217-.04.203-.1.284-.0798.0813-.1597.1422-.2396.203-.4195.2843-.859.528-1.3582.6903-.4794.183-.9987.264-1.558.264-.4593 0-.8787-.061-1.2982-.182-.4194-.122-.819-.284-1.1784-.507-.3595-.223-.699-.467-.9986-.771-.2996-.304-.5593-.649-.759-1.015-.2197-.365-.3795-.771-.4994-1.198-.1198-.426-.1797-.873-.1797-1.36 0-.487.06-.913.18-1.36.12-.426.28-.832.5-1.198.22-.365.46-.71.759-1.015.3-.304.639-.568.999-.771.36-.223.759-.385 1.179-.487.42-.121.859-.182 1.299-.182.54 0 1.059.082 1.518.224.46.142.899.366 1.298.65l-.02-.02c.12.061.2.142.26.224.06.081.1.203.1.325 0 .102-.04.183-.1.284l-.679 1.157c-.14.244-.319.366-.519.366-.04 0-.1-.02-.159-.04-.06-.02-.14-.061-.22-.122-.219-.142-.459-.264-.719-.365-.259-.101-.519-.142-.819-.142-.319 0-.599.061-.878.203-.259.122-.499.305-.679.528-.18.224-.339.488-.439.772-.1.305-.159.609-.159.934 0 .345.06.65.16.955s.26.548.44.751c.18.223.419.386.679.508.26.122.559.183.879.183.28 0 .559-.061.799-.162.299-.041.539-.183.759-.325zm2.277-1.8676c0-.467.06-.9135.1797-1.36.1198-.4264.2796-.8325.4993-1.198.2197-.3653.4594-.7104.759-1.015.2996-.3044.639-.5683.9987-.7713.3595-.223.759-.385 1.1784-.487.4194-.122.8588-.182 1.3382-.182.679 0 1.3182.122 1.9174.386s1.1185.609 1.558 1.056c.4393.447.7988.975 1.0585 1.584.2596.609.3795 1.259.3795 1.969 0 .467-.06.914-.1798 1.361-.1198.427-.2796.833-.4993 1.198-.219.366-.459.711-.759 1.015-.299.305-.639.569-.998.772-.359.203-.759.386-1.178.508-.419.122-.858.183-1.318.183-.459 0-.899-.061-1.338-.182-.439-.122-.819-.284-1.178-.507-.359-.223-.699-.467-.998-.771-.299-.304-.559-.649-.759-1.015-.219-.365-.379-.771-.499-1.197-.1-.427-.16-.873-.16-1.34zm2.7363 0c0 .345.06.6497.1597.9542.1.3045.2397.548.4394.751.179.2234.419.3858.679.5076.259.1218.579.1827.898.1827s.619-.061.879-.183c.259-.122.479-.305.679-.508.2-.203.319-.467.419-.751.1-.285.14-.609.14-.955 0-.325-.04-.63-.14-.934s-.24-.548-.42-.772c-.18-.224-.4-.406-.679-.528-.26-.122-.56-.203-.879-.203-.34 0-.639.061-.899.203-.26.142-.5.304-.679.528-.18.223-.34.487-.44.771-.1.304-.16.609-.16.934zm8.3487-7.166c0-.1625.04-.3046.12-.406.0798-.122.2196-.1626.4193-.1626h1.8376c.06 0 .0998.0203.1597.0406.06.0203.1.061.16.1218l.12.1828c.04.0812.04.142.04.2436V18.555c0 .203-.06.345-.16.4465-.099.1015-.239.142-.419.142h-1.738c-.199 0-.339-.0405-.419-.142-.08-.1015-.12-.2436-.12-.4466V7.105zm4.3542 0c0-.1625.04-.3046.1198-.406.08-.122.2197-.1626.4195-.1626h1.8375c.06 0 .1.0203.1598.0406.06.0203.1.061.1598.1218l.12.1828c.04.0812.04.142.04.2436V18.555c0 .203-.06.345-.16.4465-.099.1015-.239.142-.419.142h-1.738c-.199 0-.339-.0405-.419-.142-.08-.1015-.12-.2436-.12-.4466V7.105zM65.492 17.966c-.4393.406-.9387.7308-1.498.9744-.5592.2233-1.1384.345-1.7576.345-.679 0-1.3382-.1217-1.9573-.3856-.619-.264-1.158-.609-1.617-1.0556-.459-.4467-.819-.9745-1.098-1.6038-.279-.609-.399-1.279-.399-1.9895 0-.447.06-.893.16-1.299.1-.427.26-.812.46-1.178.2-.366.44-.711.719-1.015.28-.305.6-.569.959-.792.36-.224.739-.386 1.139-.508.42-.122.839-.183 1.298-.183.42 0 .819.061 1.219.162s.759.264 1.099.467.659.446.939.73.539.589.739.934c.2.345.36.71.479 1.096.12.386.16.792.16 1.198 0 .264 0 .487-.02.649 0 .162-.04.304-.12.406-.08.101-.18.162-.36.203-.159.04-.399.061-.719.061H59.9c.06.325.1597.609.2995.812.16.223.3395.385.5393.528.1997.142.4194.223.639.284.2198.061.4395.081.6392.081.1798 0 .3596-.021.5593-.061.1996-.041.3794-.081.559-.163.18-.061.3397-.142.4995-.224.1398-.081.2596-.163.3595-.264.08-.061.14-.122.1998-.142.06-.041.12-.041.18-.041s.14.02.2.061c.06.04.14.121.22.203l.799.913c.06.061.1.121.1.182.02.061.02.102.02.163 0 .101-.02.183-.08.264-.06.081-.06.122-.14.182zm-3.635-6.3745c-.1998 0-.3795.0406-.5593.1218-.1798.0812-.3595.1827-.5193.3248-.1598.143-.2996.285-.4394.447-.1398.163-.2397.345-.3196.508h3.8548c-.0998-.203-.2197-.385-.3395-.548-.1198-.162-.2597-.325-.4194-.447-.1598-.122-.3396-.223-.5393-.304s-.4394-.101-.719-.101zm12.1037 4.5473c.08-.0608.1398-.081.1997-.1014.06-.0203.12-.0203.1398-.0203.08 0 .1598.021.2397.061.079.041.139.122.219.224l.839 1.3c.02.041.04.081.08.142.02.061.04.102.04.122 0 .122-.04.203-.1.284-.08.082-.16.142-.24.203-.42.285-.859.528-1.358.691-.48.183-.999.264-1.558.264-.46 0-.879-.061-1.298-.182-.42-.122-.819-.284-1.179-.507-.36-.223-.699-.467-.999-.771-.3-.304-.56-.649-.759-1.015-.22-.365-.38-.771-.5-1.197s-.18-.873-.18-1.36c0-.487.06-.913.18-1.36.12-.426.28-.832.499-1.198.219-.365.459-.71.759-1.015.299-.304.639-.568.998-.771.359-.223.759-.385 1.178-.487.419-.122.858-.183 1.298-.183.539 0 1.058.082 1.518.224.459.142.898.366 1.298.65l-.02-.02c.12.061.2.142.259.224.06.081.1.203.1.325 0 .101-.04.182-.1.284l-.679 1.157c-.14.244-.32.365-.519.365-.04 0-.1-.02-.16-.04s-.14-.061-.22-.122c-.22-.142-.459-.264-.719-.365-.26-.101-.519-.142-.819-.142-.319 0-.599.061-.879.203-.26.122-.499.305-.679.528-.18.223-.34.487-.439.772-.1.305-.16.609-.16.934 0 .345.06.65.16.954s.259.548.439.751c.179.224.419.386.679.508.259.122.559.183.879.183.279 0 .559-.061.799-.1624.279-.041.519-.183.759-.325zm3.4553-8.242c0-.1624.06-.2842.1598-.3654.1-.0812.2397-.1624.4395-.2233l1.7177-.609h.1398c.1797 0 .3195.061.3795.163s.0998.244.0998.427v2.415h1.259c.16 0 .3.041.4.142.1.102.16.244.16.427v1.482c0 .224-.06.366-.159.467-.1.102-.24.142-.399.142h-1.259v6.151c0 .203-.059.346-.159.447-.1.101-.259.142-.459.142h-1.698c-.379 0-.579-.203-.579-.589v-6.151H76.9c-.3795 0-.5793-.203-.5793-.629v-1.482c0-.386.2-.589.5796-.589h.559l-.04-1.766zm5.6924 9.0135c0-.1015.02-.1827.08-.2436.0598-.061.1397-.1017.2396-.1017h1.9973c.08 0 .1598.0406.2397.1015.08.0608.1.142.1.2435v1.8474c0 .1014-.02.1826-.08.2435-.06.081-.14.101-.2597.101H83.428c-.2197 0-.3396-.122-.3396-.345V16.91h.02zm4.1744-10.7797c0-.2233.04-.3654.1398-.4466.1-.0812.2397-.142.4195-.142h1.738c.18 0 .32.0405.42.142.1.0812.16.2436.16.4466v1.482c0 .061-.02.1218-.04.203-.02.0812-.06.142-.119.203-.06.061-.12.1218-.18.1624-.08.0406-.16.061-.239.061h-1.738c-.379 0-.559-.203-.559-.6294v-1.482zm0 3.8775c0-.162.04-.304.1398-.426.1-.122.2397-.183.4195-.183h1.718c.06 0 .12.021.2.041.08.021.14.061.2.122s.12.122.16.183c.04.081.06.163.06.244v8.527c0 .203-.06.345-.16.447-.099.101-.259.142-.459.142h-1.718c-.379 0-.559-.203-.559-.589V10.01zm4.0945 4.263c0-.467.06-.913.1798-1.36.12-.426.28-.832.5-1.198.22-.365.46-.71.759-1.015.3-.304.639-.568.999-.771.36-.223.759-.385 1.179-.487.42-.122.859-.183 1.338-.183.679 0 1.319.122 1.918.386s1.119.609 1.558 1.056c.44.447.799.975 1.059 1.584.26.609.38 1.259.38 1.969 0 .467-.06.914-.179 1.361-.12.427-.28.833-.499 1.198-.219.366-.459.711-.759 1.015-.299.305-.639.569-.998.772-.359.203-.759.386-1.178.508-.419.122-.859.183-1.318.183s-.899-.061-1.338-.183c-.439-.121-.819-.284-1.178-.507-.359-.223-.699-.467-.998-.771-.3-.305-.559-.65-.759-1.015-.22-.365-.38-.771-.499-1.198-.1-.426-.16-.873-.16-1.34zm2.7563 0c0 .345.06.65.1598.955.1.305.2397.548.4394.751.1798.224.4195.386.679.508.2598.122.5793.183.899.183.3195 0 .619-.061.8787-.183.2597-.121.4794-.304.679-.507.1998-.203.3197-.467.4195-.751.1-.284.14-.609.14-.954 0-.324-.04-.629-.14-.933-.0998-.304-.2396-.548-.4194-.771-.1798-.223-.3995-.406-.679-.528-.2597-.121-.5593-.203-.879-.203-.3394 0-.639.061-.8987.203-.26.143-.5.305-.68.528-.18.224-.34.487-.44.772-.1.305-.16.609-.16.934z"/>
                <path fill="#313A68" d="M16.6177 23.9752l-4.3542 2.558c-.9587.5683-2.157.5683-3.1158 0l-4.354-2.558c-.9588-.5684-1.558-1.624-1.558-2.7406v-5.136c0-1.137.5992-2.1723 1.558-2.7407l4.354-2.558c.9587-.569 2.157-.569 3.1158 0l4.3542 2.558c.9587.568 1.558 1.624 1.558 2.74v5.116c0 1.137-.5993 2.192-1.558 2.761z"/>
                <path fill="#465191" d="M17.796 21.9045L12.563 24.97c-1.1583.6902-2.5964.6902-3.7548 0l-5.213-3.0655c-1.1585-.6902-1.8775-1.9286-1.8775-3.2887V12.485c0-1.3602.719-2.6188 1.8775-3.2888l5.213-3.0654c1.1584-.6902 2.5965-.6902 3.755 0l5.213 3.0654c1.1584.6903 1.8774 1.9286 1.8774 3.2888v6.1308c.02 1.36-.699 2.6188-1.8575 3.2887z"/>
                <path fill="#7B80DE" d="M19.1543 19.448l-6.2316 3.6543c-1.3782.812-3.096.812-4.474 0L2.217 19.448C.8588 18.636 0 17.134 0 15.51V8.2015c0-1.624.8588-3.1263 2.237-3.9383L8.4686.609c1.3782-.812 3.096-.812 4.474 0l6.2317 3.6542c1.378.812 2.237 2.3142 2.237 3.9383v7.3083c-.02 1.624-.859 3.1263-2.257 3.9383z"/>
                <path fill="#FFFFFF" d="M12.3434 13.906c.08-.061.1598-.1015.2197-.1015.06-.0203.12-.0203.16-.0203.1 0 .18.0203.26.061.08.0405.16.1217.24.2638l.939 1.4414c.02.0406.06.1015.08.142.02.061.04.1016.04.1422 0 .1218-.04.2436-.12.3248-.08.0812-.159.1624-.259.2233-.459.3248-.958.5887-1.498.7714-.539.203-1.118.285-1.717.285-.499 0-.978-.061-1.438-.203-.459-.122-.899-.325-1.298-.548-.399-.243-.759-.528-1.098-.873s-.619-.71-.859-1.116c-.239-.406-.419-.852-.539-1.34-.14-.487-.2-.974-.2-1.502s.06-1.015.2-1.502c.14-.487.32-.934.539-1.34.24-.406.52-.791.859-1.116.34-.345.699-.629 1.099-.852.4-.243.839-.426 1.298-.548.46-.122.939-.203 1.438-.203.6 0 1.159.081 1.678.244.519.163.999.406 1.438.731l-.02-.041c.12.082.22.163.3.264.08.102.1.224.1.366 0 .102-.04.203-.1.305l-.739 1.279c-.159.285-.339.406-.559.406-.06 0-.12-.02-.18-.04-.08-.02-.159-.061-.239-.122-.239-.162-.499-.304-.779-.406-.279-.101-.579-.162-.898-.162-.36 0-.679.081-.959.224-.3.142-.539.345-.759.589-.2.244-.379.528-.479.873-.12.325-.18.67-.18 1.035 0 .366.06.731.18 1.056.12.325.28.609.48.853.2.244.46.427.759.569.3.142.619.203.959.203.319 0 .619-.061.899-.162.2397-.122.499-.264.759-.447z"/>
            </g>
        </svg>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute; width:0; height:0">
    <defs>
        <symbol viewBox="0 0 20 20" id="unlocked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="locked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="close">
            <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow">
            <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow-down">
            <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z"/>
        </symbol>


        <symbol viewBox="0 0 24 24" id="jump-to">
            <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z"/>
        </symbol>

        <symbol viewBox="0 0 24 24" id="expand">
            <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"/>
        </symbol>

    </defs>
</svg>

<div id="swagger-ui" class="api-platform"></div>

<script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-bundle.js') }}"></script>
<script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-standalone-preset.js') }}"></script>
<script src="{{ asset('bundles/nelmioapidoc/init-swagger-ui.js') }}"></script>

</body>
</html>
